<h2 class="textos-responsive">Búsquedas</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item text-center">
        <a href="/menu/planes">Planes</a>
    </li>
    <li class="list-group-item text-center">
        <a href="/menu/tiposDestino">Tipos Destino</a>
    </li>
    <li class="list-group-item text-center">
        <a href="/menu/destinos">Destinos</a>
    </li>
    <li class="list-group-item text-center">
        <a href="/menu/detallesPlan">Detalles de los planes</a>
    </li>
    <li class="list-group-item text-center">
        <a href="/menu/clientes">Clientes</a>
    </li>
    <li class="list-group-item text-center">
        <a href="/menu/tipoIdentificacion">Tipo identificacion</a>
    </li>
 
</ul>